@keyframes fade-out-anime {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation-name: fade-out-anime;
  animation-duration: 3s;
}

.fontSpecialElite {
  font-family: "Special Elite", cursive;
}

.fontIceland {
  font-family: "Iceland", cursive;
}

.darkmode--activated h1 {
  color: #fff;
}

body {
  /* background-color: blue !important; */
}
